{# templates/includes/footer.html #}
{% load static %}
  <!-- ################# Our Footer Starts Here#######################---> 
  
                  
  <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 about">
                <h2>About Us</h2>
                <p>Université M'Hamed BOUGARA de Boumerdès. </p>
                
                <div class="foot-address">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="addet">
                        Faculté des Sciences. Route de la Gare Ferroviaire - Boumerdes 35000, Algérie 
                    </div>
                </div>
                <div class="foot-address">
                    <div class="icon">
                        <i class="far fa-envelope-open"></i>
                    </div>
                    <div class="addet">
                        scolarite-fs@univ-boumerdes.dz <br>
                     
                    </div>
                </div>
                <div class="foot-address">
                    <div class="icon">
                         <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="addet">
                        
Tél: (024) 79 90 19  
 <br>
                 fax: (024) 79 90 07
                    </div>
                </div>
            </div>
            <div class="col-md-3 fotblog">
                <h2>From latest Blog</h2>
                <div class="blohjb">
                    <p>dignissim. Integer tempor facilisis malesuada. Proin ac varius velit, tincidunt condimentum</p>
                    <span>22-1-2019</span>
                </div>
                <div class="blohjb">
                    <p>dignissim. Integer tempor facilisis malesuada. Proin ac varius velit, tincidunt condimentum</p>
                    <span>22-1-2019</span>
                </div>
                <div class="blohjb">
                    <p>dignissim. Integer tempor facilisis malesuada. Proin ac varius velit, tincidunt condimentum</p>
                    <span>22-1-2019</span>
                </div>
            </div>
            <div class="col-md-3 glink">
                <ul>
                    <li><a href="index.html"><i class="fas fa-angle-double-right"></i>Université</a></li>
                    <li><a href="about_us.html"><i class="fas fa-angle-double-right"></i>Facultés</a></li>
                    <li><a href="services.html"><i class="fas fa-angle-double-right"></i>Formations</a></li>
                    <li><a href="blog.html"><i class="fas fa-angle-double-right"></i>Recherche</a></li>
                    <li><a href="pricing.html"><i class="fas fa-angle-double-right"></i>Gallery</a></li>
                    <li><a href="contact_us.html"><i class="fas fa-angle-double-right"></i>coopéeration</a></li>
                </ul>
            </div>
            <div class="col-md-3 tags">
                <h2>Easy Tags</h2>
                <ul>
                    <li>Université</li>
                    <li>Boumerdes</li>
                    <li>informatique</li>
                    <li>science</li>
                  
                 
                </ul>
            </div>
        </div>
    </div>
</footer>