{# templates/includes/header.html #}
{% load static %}
 <!-- ################# Header Starts Here#######################--->
      <!--=============== HEADER ===============-->
      <header class="header">
      
        <div class="header-top">
              <div class="container">
                  <div class="row">
                     <div class="col-lg-7 col-md-12 left-item">  
                       
                      </div>
                      <div class="col-lg-5 d-none d-lg-block right-item">
                          <ul>
                           
                              <li><a><i class="fab fa-google-plus-g"></i></a></li>
                              <li> <a><i class="fab fa-pinterest-p"></i></a></li>
                              <li><a><i class="fab fa-twitter"></i></a></li>
                              <li> <a><i class="fab fa-facebook-f"></i></a></li>
  
                          </ul>
                      </div>
                  </div>
  
              </div>
          </div>
       
        
          <nav class="nav container">
              <div class="nav__data">
                 <a href="#" class="nav__logo">
                  <img src="{% static 'assets/images/Logo-umbb-crsic.png' %}">
                 </a>
                 
                 <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line nav__burger"></i>
                    <i class="ri-close-line nav__close"></i>
                 </div>
              </div>
  
              <!--=============== NAV MENU    ===============-->
              <div class="nav__menu" id="nav-menu">
                 <ul class="nav__list">
                    <li><a href="{% url 'home'%}" class="nav__link" data-i18n="home">Home</a></li>
  
                    <li><a href="{% url 'actuality'%}" class="nav__link"  data-i18n="company" >Actualité</a></li>
  
                    <!--=============== DROPDOWN 1 ===============-->
                    <li class="dropdown__item">
                       <div class="nav__link"> <div class="soulking" data-i18n="analytics"> Université </div>  <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                      </div>
  
                       <ul class="dropdown__menu">
                          <li>
                             <a href="{% url 'faculties'%}" class="dropdown__link">
                              Facultés
                             </a>                          
                          </li>
  
                          <li>
                             <a href="#" class="dropdown__link">
                              Emploi
                             </a>
                          </li>

                          <li>
                           <a href="#" class="dropdown__link">
                            Annuaire
                           </a>
                         </li>
  

                       </ul>
                    </li>
                    
                    <li><a href="{% url 'agenda'%}" class="nav__link"  data-i18n="products">Agenda</a></li>
  
                    <!--=============== DROPDOWN 2 ===============-->
                    <li class="dropdown__item">
                       <div class="nav__link"> 
                       <div class="soulking" data-i18n="users">Vie de campus</div>
                          <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                       </div>
  
                       <ul class="dropdown__menu">
                          <li>
                             <a href="{% url 'bourse'%}" class="dropdown__link">
                                Bourses
                             </a>                          
                          </li>
  
                          <li>
                             <a href="#" class="dropdown__link">
                              Clubs
                             </a>
                          </li>

                       </ul>
                    </li>
                    <li><a href="#" class="nav__link" > 
                    
                    <select class="selectlangue" >
                       
                        <option value="fr" selected >🇫🇷&emsp; </option>
                        <option value="ar">🇩🇿&emsp;</option>  
                       
                      
     
                               </select>
                    </a></li>
  
  
                </ul>
  
  
  
              </div>
            
           </nav>
        </header>