{% load static %}
{% for post in actus %}
<div class="col-md-4">
    <div class="courc-card">
        <img src="{{ post.image.url }}" alt="">
        <div class="cource-det">
            <h6>
                <a href="{% url 'actuality_detail' post.actualite_id %}">
                    {{ post.titre }}
                </a>
            </h6>
            <ul>
                <li><i class="far fa-calendar-plus"></i> {{ post.date }}</li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}
