{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="popular-cources pc2" >
    <div class="container2">
        
        <div class="row courc-ro" style="justify-content: space-between; margin-top: 2%;">


<figure>
      <img src="assets/images/formations/master.jpg"/>
    <figcaption>Licence</figcaption>
</figure>

<figure >
      <img src="assets/images/formations/group-diverse-graduation-students-raising-their-hands-air-university.jpg"/>
    <figcaption>Master</figcaption>
</figure>


<figure >
      <img src="assets/images/formations/group-diverse-graduation-students-raising-their-hands-air-university.jpg"/>
    <figcaption>Systéme classique</figcaption>
</figure>


<figure >
      <img src="assets/images/formations/Licence prof.png"/>
    <figcaption>Licence pro</figcaption>
</figure>



</div></div></div>

{% endblock %}