{% extends "base.html" %}
{% load static %}
{% block content %}
  <!--  ************************* Page Title Starts Here ************************** -->

  <div class="page-nav no-margin row">
      <div class="container">
          <div class="row">
              <h2>Agenda</h2>
              <ul>
                  <li><a href="{% url 'home'%}"><i class="fas fa-home"></i> Acueil</a></li>
                  <li><i class="fas fa-angle-double-right"></i> Agenda</li>
              </ul>
          </div>
      </div>
  </div>
  
  <div class="our-blog bb3 pc2">
  <div class="container">
      <div class="row-blog row">
          <div class="col-md-10 vbf mx-auto">
            {% include "includes/Event.html" %}
            {% block Event %}

            {% endblock %}
          </div>
      </div>
  </div>
  </div>
  
{% endblock %}